.app{
    cursor: pointer !important;
    height: 120px !important;
    margin-bottom: 10% !important;
    transition: all .5s ease-in-out;
  }

  
  .app:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }