<nav class="navbar navbar-light bg-stanbic">
  <div class="nav-wrapper">
    <a routerLinkclass="brand-logo left">
      <img src="assets/imgs/sb_logo_small_menu.png" width="70" height="70">
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down menuText">

      <li><a><span class="lnr lnr-user" style="font-size: 20px;"></span> Hey! &nbsp; {{username}}
        </a></li>

      <li><a (click)="logout()"><span class="lnr lnr-chevron-right-circle" style="font-size: 20px;"></span>
          Logout</a></li>

    </ul>
  </div>
  </nav>
  

  <div class="row">
    <div class="col s6 offset-s3 animated pulse delay-5s center-align" style="margin-top: 3%;">
      
          <div *ngFor="let varapps of apps"  class="col s4 icon-active" >
            <span> 
              <img *ngIf="varapps.app == 'MOBY CREDIT' " class="app" src="assets/imgs/apps/MobyCredit.png" (click)="gotoApp(varapps.app,varapps.url,varapps.role)"/>
              <img *ngIf="varapps.app == 'COLLATERAL' " class="app" src="assets/imgs/apps/collateral.png" (click)="gotoApp(varapps.app,varapps.url,varapps.role)" />
              <img *ngIf="varapps.app == 'SALARY PROCESSING' " class="app" src="assets/imgs/apps/salary.png"  (click)="gotoApp(varapps.app,varapps.url,varapps.role)"/>
              <img *ngIf="varapps.app == 'COVENANT DIARY' " class="app" src="assets/imgs/apps/diary.png"  (click)="gotoApp(varapps.app,varapps.url,varapps.role)"/>
              <img *ngIf="varapps.app == 'MOBY LEGAL' " class="app" src="assets/imgs/apps/moby_legal.png"  (click)="gotoApp(varapps.app,varapps.url,varapps.role)"/>
              <img *ngIf="varapps.app == 'MOBY CARDS' " class="app" src="assets/imgs/apps/moby_cards.png"  (click)="gotoApp(varapps.app,varapps.url,varapps.role)"/>
              <img *ngIf="varapps.app == 'MOBY FX' " class="app" src="assets/imgs/apps/moby_credit.png"   (click)="gotoApp(varapps.app,varapps.url,varapps.role)"/>

            </span>
          </div>
          

  </div>